﻿#carousel {
    color: black;
    
    width: 100%;
    height: 100%;

    display: block;
    margin-left: center;
    margin-right: center;
    
    padding-top: 3%;
    padding-bottom: 3%;
     
    border: 1px round;    
    border-radius: 25px;
}

#slide-img {
    width: 100%;
    height: 100%;
    border: 1px round;
    border-radius: 25px;
}

#logo {
    display: block;
    width:40vw;
    height: 80vh;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#text {
    padding-top: 2%;
    text-align: center;
}

#titletext {
    padding-top: 15%;
    text-align:center;
}

#title {
    padding-top: 2%;
    text-align: center;
}

#quote {
  position: relative;
  width: 75%;
  margin: auto;
  color: gray;
  font-size: 15pt;
  font-family: cursive;
}

.quotation{
  font-size: 15px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
  font-family: serif;
}

